{% extends 'app/layout.html' %}
{% block title %} add user
  {% endblock title %} 
{% block content %}
<div class="container">
    <h1 class="ehab">ehab</h1>
    <div>hello</div>
    <form action="" method="post" class="form-group container">
         {% csrf_token %}
        <input type="text" name="first_name"  placeholder="Enter first name" class="form-control mb-2">
        <input type="text" name="last_name" placeholder="Enter last name" class="form-control mb-2">
        <input type="number" name="age" placeholder="Enter age" class="form-control mb-2">
        <input type="submit" class="btn btn-primary" name="submit" value="Submit" />

    </form>
    </div>

{% endblock content %}
    